[Unit]
Description=Backend Service

[Service]
User=expense
Environment=DB_HOST="<DB_INSTANCE_IP> #(replace with actual DB instance private IP)"
ExecStart=/bin/node /app/index.js
Restart=always
SyslogIdentifier=backend

[Install]
WantedBy=multi-user.target